<p class="indexPageTitle">Qlik Sense Admin Playbook</p>
<p class="indexPageSubtitle">A repository of administrative best practices, organized by cadence and category.</p>
<p><i>If this is your first visit, please ensure that you read the <strong><a href="/docs/about.html">About</a></strong> section for usage information.</i></p>

<p>Select a single or multiple categories from the dropdown to filter down the table to a subset of sections, or simply explore all possible categories.</p>
<div id="playbookFilters">
    <div>
        <button type="button" class="btn btn-light playbookFilter" onclick="$('.selectpicker').val('').trigger('change');">Clear</button>
    </div>
    <div>
        <select class="selectpicker playbookFilter" id="categoryFilter" multiple title="Select a category...">
            <option value="asset_management">Asset Management</option>
            <option value="audit">Audit</option>
            <option value="backup_and_archiving">Backup & Archiving</option>
            <option value="licensing">Licensing</option>
            <option value="system_planning">System Planning</option>
            <option value="system_spot_check">System Spot Check</option>
        </select>
        <select class="selectpicker playbookFilter" id="toolingFilter" multiple data-max-options="1" title="Native or Tooling...">
            <option value="native">Native</option>
            <option value="tooling">Tooling Required</option>
        </select>
    </div>
</div>