<p class="indexPageTitle">Qlik Sense Admin Playbook</p>
<p class="indexPageSubtitle">A repository of administrative best practices, organized by cadence and category.</p>
<div id="playbookFilters">
    <div>
        <button type="button" class="btn btn-light playbookFilter" onclick="$('#categoryFilter').val('').trigger('change');">Clear</button>
    </div>
    <div>
        <select class="selectpicker playbookFilter" id="categoryFilter" multiple title="Select a category...">
            <option value="asset_management" description="Asset Management includes assets such as: \n Applications \n Data Connections \n Tasks \n Custom Properties \n etc...">Asset Management</option>
            <option value="audit">Audit</option>
            <option value="backup_and_archiving">Backup & Archiving</option>
            <option value="licensing">Licensing</option>
            <option value="system_planning">System Planning</option>
            <option value="system_spot_check">System Spot Check</option>
        </select>
    </div>
</div>