/* update font */

html * {
    /* html *:not(code > span) { */
    font-family: 'Source Sans Pro', sans-serif;
}

/* image modals */

object {
    width: auto;
    max-width: 100%;
    max-height: 70vh;
    width: auto\9;
    /* ie8 */
}

.modal-body {
    text-align: left;
    height: auto;
}

@media (min-width: 768px) {
    .modal-dialog {
        display: table;
        max-width: 90%;
    }
}

/* tooling info icon pointer on hover */
/* pointer cursor on images */
.tooling-modal:hover {
    cursor: pointer;
}

/* Playbook filter selectors */

.playbookFilter {
    margin: 10px;
    float: left;
    display: inline;
}


/* note boxes */

.card-header {
    padding: .3em .75rem;
    margin-bottom: 0;
    background-color: #f0ad4e;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-weight: bold;
    height: 37px;
}

.card-header-warning {
    padding: .3em .75rem;
    margin-bottom: 0;
    background-color: #d9534f;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-weight: bold;
    height: 37px;
    color: #ffffff;
}

.card-header-support {
    padding: .3em .75rem;
    margin-bottom: 0;
    background-color: #5bc0de;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-weight: bold;
    height: 37px;
    color: #ffffff;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 1rem;
    max-width: 800px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    font-size: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-left: 1px solid rgba(0, 0, 0, .125);
    border-right: 1px solid rgba(0, 0, 0, .125);
}


/* green white gray for filters */

.dark-gray {
    background-color: #A9A9A9 !important;
    color: #ffffff !important;
}

.light-gray {
    background-color: #DDDDDD !important;
    color: #595959 !important;
}

.green {
    background-color: #009845 !important;
    color: #ffffff !important;
}


/* buttons for production, development, and all */

.dev {
    background-color: #17a2b8;
    opacity: 0.8;
}

.prod {
    background-color: #007bff;
    opacity: 0.8;
}

.all {
    background-color: #eb7734;
    opacity: 0.8;
}

.cadence {
    background-color: #495057;
    opacity: 0.8;
}


/* override button color for code copying icon */

.snippet>.btn>i {
    color: #212529;
}

.highlight>pre {
    background-color: #27292e !important;
    color: #F8F8F8;
}

.highlight>pre>code {
    background-color: #27292e !important;
}

.language-plaintext * {
    color: #F8F8F8;
}

/* pointer cursor on images */
img:not(#modalImageUrl):hover {
    cursor: pointer;
}

/* add borders and hover effects on all images under the .page class */

.page img {
    border-radius: 2px;
    display: block;
    margin-bottom: .3rem;
}

.page img {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page img:not(#modalImageUrl) {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.page img:not(#modalImageUrl):hover {
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


/* .main-content */

@media (min-width: 44.4444444444rem) {
    .main-content-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        overflow-y: scroll
    }
}

@media (min-width: 44.4444444444rem) {
    .main-content {
        position: relative;
        margin-left: 248px
    }
}

@media (min-width: 59.1111111111rem) {
    .main-content {
        margin-left: 375px;
        max-width: 4000px;
    }
}


/* sidebar */

@media (min-width: 44.4444444444rem) {
    .side-bar {
        flex-wrap: nowrap;
        position: absolute;
        width: 248px;
        height: 100%;
        flex-direction: column;
        border-right: 1px solid #eeebee;
        align-items: flex-end
    }
}

@media (min-width: 59.1111111111rem) {
    .side-bar {
        width: 375px;
    }
}


/* navbar */

@media (min-width: 59.1111111111rem) {
    .navigation,
    .site-header,
    .site-footer {
        width: 325px !important;
    }
}


/* limit page content width */

.page-content {
    max-width: 1050px;
}


/* adjust navbar font size */

@media (min-width: 25rem) and (min-width: 40rem) {
    .navigation-list-item {
        font-size: 15px !important;
    }
}


/* adjust navbar spacing */

.navigation-list-link {
    display: block;
    padding-top: .15rem;
    padding-bottom: .15rem;
}


/* table font */

@media (min-width: 25rem) {
    th,
    td {
        font-size: 15px !important;
    }
}


/* body line height */

body {
    line-height: 1.6;
}


/* page content line height */

.page-content {
    line-height: 1.6;
}


/* Index page font sizes */

.indexPageTitle {
    font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300))) !important;
    line-height: calc(1.6em + (1.8 - 1.5) * ((100vw - 300px)/(1600 - 300))) !important;
    margin-bottom: 2px !important;
}

.indexPageSubtitle {
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    line-height: calc(1.6em + (1.8 - 1.5) * ((100vw - 300px)/(1600 - 300))) !important;
    margin-bottom: 2px !important;
}


/* playbook table line height */

#playbook {
    line-height: 1.2 !important;
}


/* code tooltip copy buttons */

.clippy {
    margin-top: -3px;
    position: relative;
    top: 3px
}

.btn[disabled] .clippy {
    opacity: .3
}

.snippet {
    position: relative;
    overflow: visible;
    line-height: 20px;
    background-color: #272b34;
}

.snippet .btn {
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    padding: 2px 6px;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 30px;
}

.snippet:hover .btn,
.snippet .btn:focus {
    opacity: 1
}


/* adjust clippy icon */

.clippy {
    width: 20px;
}


/* Code formatting override */

pre code {
    font-size: 13px important!;
}

code {
    line-height: 1.4 !important;
    font-family: 'Ubuntu Mono', monospace !important;
}

code,
kbd,
pre,
samp {
    font-size: .95em !important;
}


/* .highlight .nf {
    color: #e6c07b !important;
} */

.highlight .kr {
    color: #c678dd !important;
}

.highlight .o {
    color: #839496 !important;
}

.highlight .nt {
    color: #839496 !important;
}

.highlight .nx {
    color: #e6c07b !important;
}

.highlight .na {
    color: #e6c07b !important;
}


/* remove list element margins for drop downs */

.dropdown-menu {
    padding: 0 0 !important;
}

.dropdown-menu>li {
    margin: 0 !important;
}
